<h3>TEMPLATE</h3>
<em>This is the default html template for wse_events</em>
<!-- ###TEMPLATE### begin -->
<!-- ###SESSIONLIST### begin -->
		<!-- wse_events default template: sessionlist begin -->
		<!-- ###EVENTSELECT### begin -->
		<div class="tx-wseevents-pi1-chooseevent">
			###LABEL###
			<!-- Combobox to select event -->
			<form action="" method="post" name="event_select">
			<input type="hidden" name="no_cache" value="1">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.event_select.submit()">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
			</form>
		</div>
		<!-- ###EVENTSELECT### end -->
		<!-- ###CATEGORYSELECT### begin -->
		<div class="tx-wseevents-pi1-choosecategory">
			###LABEL###
			<!-- Combobox to select category -->
			<form action="" method="post" name="category_select">
			<input type="hidden" name="no_cache" value="1">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.category_select.submit()">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
			</form>
		</div>
		<!-- ###CATEGORYSELECT### end -->
		<div class="tx-wseevents-pi1-listrow">
			<table>
			<!-- ###SINGLEROW### begin -->
				<!-- ###HEADER### -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td valign="top"><p>###SESSIONNUMBER###</p></td><td valign="top"><p>###SESSIONNAME###</p></td><td valign="top"><p>###SPEAKER###</p></td><td valign="top"><p>###TIMESLOTS###</p></td><td valign="top"><p>###SESSIONDOCUMENTSNAME###</p></td>
				</tr>
				<!-- ###HEADER### -->
				<!-- ###ITEM### -->
				<tr class="tx-wseevents-pi1-listrow-even">
					<td valign="top"><p>###SESSIONNUMBER###</p></td><td valign="top" title="###SESSIONTEASER###"><p>###SESSIONNAME###</p></td><td valign="top"><p>###SPEAKER###</p></td><td valign="top"><p>###TIMESLOTS###</p></td><td valign="top"><p>###SESSIONDOCUMENTS###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-even">
				<td valign="top"></td><td valign="top" colspan="3"><p>###SESSIONDESCRIPTION###</p></td>
				</tr>
				<!-- ###ITEM### -->
				<!-- ###ITEM_ALT### -->
				<tr class="tx-wseevents-pi1-listrow-odd">
					<td valign="top"><p>###SESSIONNUMBER###</p></td><td valign="top" title="###SESSIONTEASER###"><p>###SESSIONNAME###</p></td><td valign="top"><p>###SPEAKER###</p></td><td valign="top"><p>###TIMESLOTS###</p></td><td valign="top"><p>###SESSIONDOCUMENTS###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-odd">
				<td valign="top"></td><td valign="top" colspan="3"><p>###SESSIONDESCRIPTION###</p></td>
				</tr>
				<!-- ###ITEM_ALT### -->
			<!-- ###SINGLEROW### end -->
			</table>
		</div>
		<!-- wse_events default template: sessionlist end -->
<!-- ###SESSIONLIST### end -->

<!-- ###SPEAKERLIST### begin -->
		<!-- wse_events default template: speakerlist begin -->
		<div class="tx-wseevents-pi1-listrow">
			<table>
			<COLGROUP><COL width="200"><COL width="*">
				<!-- ###HEADER### -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td valign="top"><p>###SPEAKERNAME###<br>(###COUNTRYNAME###)</p></td><td></td>
				</tr>
				<!-- ###HEADER### -->
			<!-- ###SINGLEROW### begin -->
				<!-- ###ITEM### -->
				<tr><td><hr></td><td><hr></td></tr>
				<tr class="tx-wseevents-pi1-listrow-even">
					<td valign="top"><p>###SPEAKERNAME###<br>(###COUNTRYDATA###)</p><br>###IMAGEFILE###</td><td valign="top"><p>###SESSIONSNAME###</p></td>
				</tr>
				<!-- ###SESSIONROW### -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p title="###SESSIONTEASER###">###SESSIONNUMBER### - ###SESSIONNAME###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p>###SESSIONSLOTS###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p>###SESSIONDESCRIPTION###</p></td>
				</tr><tr><td></td><td><hr></td></tr>
				<!-- ###SESSIONROW### -->
				<!-- ###ITEM### -->
			<!-- ###SINGLEROW### end -->
			</table>
		</div>
		<!-- wse_events default template: speakerlist begin -->
<!-- ###SPEAKERLIST### end -->

<!-- ###SESSIONVIEW### begin -->
		<!-- wse_events default template: session view begin -->
		<div class="tx-wseevents-pi1-singleView">
			<H2>###SESSIONNUMBER### - ###SESSIONNAME###</H2>
			<table>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###SPEAKERNAME###:</p></td>
					<td valign="top"><p>###SPEAKERDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###TIMESLOTSNAME###:</p></td>
					<td valign="top"><p>###TIMESLOTSDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###SESSIONDOCUMENTSNAME###:</p></td>
					<td valign="top"><p>###SESSIONDOCUMENTS###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###SESSIONDESCRIPTIONNAME###:</p></td>
					<td valign="top">###SESSIONDESCRIPTION###</td>
				</tr>

			</table>
		<p>###BACKLINK###</p></div>
		<!-- wse_events default template: session view end -->
<!-- ###SESSIONVIEW### end -->

<!-- ###SPEAKERVIEW### begin -->
		<!-- wse_events default template: speaker view begin -->
		<div class="tx-wseevents-pi1-singleView">
			<H2>###SPEAKERNAME###</H2>
			<table>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###EMAILNAME###:</p></td>
					<td valign="top"><p>###EMAILDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###COUNTRYNAME###:</p></td>
					<td valign="top"><p>###COUNTRYDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###COMPANYNAME###:</p></td>
					<td valign="top"><p><a href="###COMPANYLINK###">###COMPANYDATA###</a></p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###IMAGENAME###:</p></td>
					<td valign="top"><p>###IMAGEFILE###</p>###IMAGELINK###</td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###INFONAME###:</p></td>
					<td valign="top"><p>###INFODATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###SESSIONSNAME###:</p></td>
				</tr>
				<tr>
				<!-- ###SESSIONROW### begin -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p title="###SESSIONTEASER###">###SESSIONNUMBER### - ###SESSIONNAME###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p>###SESSIONDESCRIPTION###</p></td>
				</tr>
				<!-- ###SESSIONROW### end -->
			</table>
		<p>###BACKLINK###</p></div>
		<!-- wse_events default template: speaker view begin -->
<!-- ###SPEAKERVIEW### end -->


<!-- ###SLOTSALL### begin -->
		<!-- wse_events default template: time slot view begin -->
		<form action="" method="post" name="event_select" id="event_select">
		<input type="hidden" name="no_cache" value="1">
		<!-- ###EVENTSELECT### begin -->
		<div class="tx-wseevents-pi1-chooseevent">
			###LABEL###
			<!-- Combobox to select event -->
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.getElementById('event_select').submit();">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
		</div>
		<!-- ###EVENTSELECT### end -->
		<!-- ###TITLEDAYSELECT### begin -->
		<!-- Combobox to select day of event -->
		<div class="tx-wseevents-pi1-choosetimeday">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.getElementById('event_select').submit();">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
		</div>
		<!-- ###TITLEDAYSELECT### end -->
		<!-- ###TIMESTARTSELECT### begin -->
		<!-- Combobox to select time -->
		<div class="tx-wseevents-pi1-choosetimestart">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.getElementById('event_select').submit();">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
		</div>
		<!-- ###TIMESTARTSELECT### end -->
		<!-- ###TIMEENDSELECT### begin -->
		<!-- Combobox to select time -->
		<div class="tx-wseevents-pi1-choosetimeend">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.getElementById('event_select').submit();">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
		</div>
		<!-- ###TIMEENDSELECT### end -->
		<!-- ###CATEGORYSELECT### begin -->
		<div class="tx-wseevents-pi1-choosecategory">
			<!-- Combobox to select category -->
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.getElementById('event_select').submit();">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" style="background: ###COLOR###;" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###" style="background: ###COLOR###;">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
		</div>
		<!-- ###CATEGORYSELECT### end -->
		<!-- ###TITLEROOMSELECT### begin -->
		<!-- Combobox to select room -->
		<div class="tx-wseevents-pi1-chooseroom">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.getElementById('event_select').submit();">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
		</div>
		<!-- ###TITLEROOMSELECT### end -->
		<div style="clear:both"></div>
		</form>
		<table border=1>
		<!-- ###TITLEROW### begin -->
		<tr>
			<td>###TITLEBEGIN###<!-- Width=###COLUMNWIDTH### --></td>
			<!-- ###TITLECOLUMN### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<th colspan="###ROOMCOUNT###">###TITLEWEEKDAY###<br />###TITLEDAY###</th>
			<!-- ###TITLECOLUMN### end -->
		</tr>
		<!-- ###TITLEROW### end -->
		<!-- ###HEADERROW### begin -->
		<tr>
			<td>###HEADERBEGIN###<!-- Width=###COLUMNWIDTH### --></td>
			<!-- ###HEADERCOLUMN### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<td>###HEADERROOM###</td>
			<!-- ###HEADERCOLUMN### end -->
			<!-- ###HEADERCOLUMNEMPTY### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<td class="###DAYDELIMITER###">&nbsp;</td>
			<!-- ###HEADERCOLUMNEMPTY### end -->
		</tr>
		<!-- ###HEADERROW### end -->
		<!-- ###SLOTROW### begin -->
		<tr>
			<!-- ###TIMECOLUMN### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<td rowspan="###SLOTSIZE###">###SLOTBEGIN### - ###SLOTEND###</td>
			<!-- ###TIMECOLUMN### end -->

			<!-- ###TIMECOLUMNEMPTY### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<td>&nbsp;</td>
			<!-- ###TIMECOLUMNEMPTY### end -->

			<!-- ###SLOTCOLUMN### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<td class="tx-wseevents-pi1-category-###SLOTCATEGORY### ###DAYDELIMITER###" rowspan="###SLOTSIZE###" colspan="###SLOTWIDTH###" style="background-color:###SLOTCATEGORYCOLOR###">
			<p title="###SLOTTEASER###">###SLOTLINK### ###SLOTICAL###<br />
			###SLOTNAME###</p><br>(###SLOTBEGIN### - ###SLOTEND###)</td>
			<!-- ###SLOTCOLUMN### end -->

			<!-- ###SLOTCOLUMNEMPTY### begin -->
			<!-- Width=###COLUMNWIDTH### -->
			<td class="tx-wseevents-pi1-category-###SLOTCATEGORY### ###DAYDELIMITER###" rowspan="###SLOTSIZE###" colspan="###SLOTWIDTH###">&nbsp;</td>
			<!-- ###SLOTCOLUMNEMPTY### end -->
		</tr>
		<!-- ###SLOTROW### end -->
		</table>
		<!-- wse_events default template: time slot view end -->
<!-- ###SLOTSALL### end -->


<!-- ###TEMPLATE### end -->
