<h3>TEMPLATE</h3>
<em>This is the default html template for wse_events</em>
<!-- ###TEMPLATE### begin -->
<!-- ###SESSIONLIST### begin -->
		<!-- wse_events default template: sessionlist begin -->
		<div class="tx-wseevents-pi1-choosecategory">
			###LABEL###
			<!-- Combobox to select category -->
			<!-- ###FORMACTION### removed from action, because empty action referes to same page -->
			<form action="" method="post" name="category_select">
			<input type="hidden" name="no_cache" value="1">
			<select class="tx-wseevents-select" name="###FORMSELECT###" onchange="document.category_select.submit()">
				<!-- ###SELECT### -->
				<!-- ###OPTIONSELECTED### -->
				<option value="###VALUE###" selected="selected">###OPTION###</option>
				<!-- ###OPTIONSELECTED### -->
				<!-- ###OPTIONNOTSELECTED### -->
				<option value="###VALUE###">###OPTION###</option>
				<!-- ###OPTIONNOTSELECTED### -->
				<!-- ###SELECT### -->
			</select>
			</form>
		</div>
		<div class="tx-wseevents-pi1-listrow">
			<table>
			<!-- ###SINGLEROW### begin -->
				<!-- ###HEADER### -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td valign="top"><p>###NUMBER###</p></td><td valign="top"><p>###NAME###</p></td><td valign="top"><p>###SPEAKER###</p></td><td valign="top"><p>###ROOM###</p></td><td valign="top"><p>###TIMESLOTS###</p></td>
				</tr>
				<!-- ###HEADER### -->
				<!-- ###ITEM### -->
				<tr class="tx-wseevents-pi1-listrow-even">
					<td valign="top"><p>###NUMBER###</p></td><td valign="top" title="###TEASERDATA###"><p>###NAME###</p></td><td valign="top"><p>###SPEAKER###</p></td><td valign="top"><p>###ROOM###</p></td><td valign="top"><p>###TIMESLOTS###</p></td>
				</tr>
				<!-- ###ITEM### -->
				<!-- ###ITEM_ALT### -->
				<tr class="tx-wseevents-pi1-listrow-odd">
					<td valign="top"><p>###NUMBER###</p></td><td valign="top" title="###TEASERDATA###"><p>###NAME###</p></td><td valign="top"><p>###SPEAKER###</p></td><td valign="top"><p>###ROOM###</p></td><td valign="top"><p>###TIMESLOTS###</p></td>
				</tr>
				<!-- ###ITEM_ALT### -->
			<!-- ###SINGLEROW### end -->
			</table>
		</div>
		<!-- wse_events default template: sessionlist end -->
<!-- ###SESSIONLIST### end -->

<!-- ###SPEAKERLIST### begin -->
		<!-- wse_events default template: speakerlist begin -->
		<div class="tx-wseevents-pi1-listrow">
			<table>
			<COLGROUP><COL width="200"><COL width="*">
			<!-- ###SINGLEROW### begin -->
				<!-- ###HEADER### -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td valign="top"><p>###NAME###<br>(###COUNTRYNAME###)</p></td><td></td>
				</tr>
				<!-- ###HEADER### -->
				<!-- ###ITEM### -->
				<tr><td><hr></td><td><hr></td></tr>
				<tr class="tx-wseevents-pi1-listrow-even">
					<td valign="top"><p>###NAME###<br>(###COUNTRYDATA###)</p></td><td valign="top"><p>###SESSIONSNAME###</p></td>
				</tr>
				<!-- ###ITEM### -->
				<!-- ###ITEM_ALT### -->
				<tr><td><hr></td><td><hr></td></tr>
				<tr class="tx-wseevents-pi1-listrow-odd">
					<td valign="top"><p>###NAME###<br>(###COUNTRYDATA###)</p></td><td valign="top"><p>###SESSIONSNAME###</p></td>
				</tr>
				<!-- ###ITEM_ALT### -->
				<!-- ###SESSIONROW### -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p title="###SESSIONTEASER###">###SESSIONNAME###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p>###SESSIONDESCRIPTION###</p></td>
				</tr><tr><td></td><td><hr></td></tr>
				<!-- ###SESSIONROW### -->
			<!-- ###SINGLEROW### end -->
			</table>
		</div>
		<!-- wse_events default template: speakerlist begin -->
<!-- ###SPEAKERLIST### end -->

<!-- ###SESSIONVIEW### begin -->
		<!-- wse_events default template: session view begin -->
		<div class="tx-wseevents-pi1-singleView">
			<H2>###TITLE###</H2>
			<table>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###SPEAKERNAME###:</p></td>
					<td valign="top"><p>###SPEAKERDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###TIMESLOTSNAME###:</p></td>
					<td valign="top"><p>###TIMESLOTSDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###DESCRIPTIONNAME###:</p></td>
					<td valign="top">###DESCRIPTIONDATA###</td>
				</tr>

			</table>
		<p>###BACKLINK###</p></div>
		<!-- wse_events default template: session view end -->
<!-- ###SESSIONVIEW### end -->

<!-- ###SPEAKERVIEW### begin -->
		<!-- wse_events default template: speaker view begin -->
		<div class="tx-wseevents-pi1-singleView">
			<H2>###NAME###</H2>
			<table>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###EMAILNAME###:</p></td>
					<td valign="top"><p>###EMAILDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###COUNTRYNAME###:</p></td>
					<td valign="top"><p>###COUNTRYDATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###COMPANYNAME###:</p></td>
					<td valign="top"><p><a href="###COMPANYLINK###">###COMPANYDATA###</a></p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###IMAGENAME###:</p></td>
					<td valign="top"><p>###IMAGEFILE###</p>###IMAGELINK###</td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###INFONAME###:</p></td>
					<td valign="top"><p>###INFODATA###</p></td>
				</tr>
				<tr>
					<td nowrap valign="top" class="tx-wseevents-pi1-singleView-HCell"><p>###SESSIONSNAME###:</p></td>
				</tr>
				<tr>
				<!-- ###SESSIONROW### begin -->
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p title="###SESSIONTEASER###">###SESSIONNAME###</p></td>
				</tr>
				<tr class="tx-wseevents-pi1-listrow-header">
					<td></td><td valign="top"><p>###SESSIONDESCRIPTION###</p></td>
				</tr>
				<!-- ###SESSIONROW### end -->
			</table>
		<p>###BACKLINK###</p></div>
		<!-- wse_events default template: speaker view begin -->
<!-- ###SPEAKERVIEW### end -->

<!-- ###TEMPLATE### end -->
